
<!-- <app-databinding></app-databinding>

<app-structural-directive></app-structural-directive>
<app-attribute-directive></app-attribute-directive> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:24px 0;">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="add-emp">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="emp-list">Employee List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="attr-dir">Attribute Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="struct-dir">Structural Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-ifelse">IfElse Control Flow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-for">For</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-switch">Switch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-pipe">Pipe</a>
          </li>


      </ul>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="button">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>