<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Pipe in Angular</h1>
    <p>Default and custom pipe</p>
    
</div>

<div class="row">
    <div class="col-3">
        Original value - {{firstname}}
        <br>
        After pipe - {{firstname | uppercase}}

    </div>

    <div class="col-3">
         Original value - {{firstname}}
        <br>
        After pipe - {{firstname | lowercase}}
    </div>
    <div class="col-3">
        Original value - {{sentence}}
        <br>
        After pipe - {{sentence | titlecase}}
    </div>
    <div class="col-3">
        Original value - {{currentDate}}
        <br>
        After pipe - {{currentDate | date}}
        
    </div>

    <br>
    <div class="row">
        <div class="col-3">
            Original value - {{currentDate | date:"dd-MM-yyyy"}}
        <br>
        After pipe - {{currentDate | date:"dd-MMM-yy"}}
        </div>

        <div class="col-3">
            Original value - {{currentDate | date:"dd-MM-yy"}}
        <br>
        After pipe - {{currentDate | date:"dd/MMM/yyyy"}}
        </div>
        <div class="col-3">
            Original value - {{student}}
            <br>
            After pipe - {{student | json}}
        </div>




        <div class="col-3">
               Original value - {{currentTime}}
               <br>
               after pipe - {{currentTime | async | date:'hh:mm:ss'}}
        </div>

    </div>

    <div class="row">
        <div class="col-3">
            Original value - {{student.state}}
            <br>
            after pipe - {{student.state | na}}
        </div>
    </div>
</div>
